---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Starter Plan",
    price: "Free",
    popular: false,
    features: [
      "Limited access to interactive learning modules.",
      "Basic math concept videos",
      "Entry-level personalized learning paths",
      "Access to a curated selection of parent and teacher resources",
      "Compatible with all systems.",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Growth Plan",
    price: {
      monthly: "$4.99",
      annual: "$49",
      discount: "10%",
      original: "$40",
    },
    popular: true,
    features: [
      "Full access to interactive modules",
      "Extensive math videos with animations",
      "Tailored learning plans and tracking",
      "Parent-teacher resource center",
      "Monthly math challenges",
      "Compatible with all systems.",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Educational Institution Plan ",
    price: "Custom",
    popular: false,
    features: [
      "Curriculum-aligned modules",
      "Advanced analytics",
      "99.99% Uptime SLA",
      "Dedicated account managementn",
      "Group premium access",
      "Compatible with all systems.",
      "Access to learning modules outside of standard hours",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
