---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "互动学习",
    description:
      "利用互动工具和游戏化元素，使数学学习变得生动有趣。通过在线白板、拖放式问题解决和即时反馈，孩子们可以更加直观地理解数学概念。",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "故事化教学",
    description:
      "将数学概念融入故事情境中，让孩子们在故事中发现数学问题并寻找解决方案，从而提高他们对数学的兴趣和理解。",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "实践操作",
    description:
      "通过实际操作，如使用积木、计数棒等教具，帮助孩子们形成对数学概念的直观理解，加强他们的空间感和数量感。 ",
    icon: "bx:bxs-data",
  },
  {
    title: "探究式学习",
    description:
      "鼓励孩子们提出问题并自主寻找答案，通过小组讨论和合作解决问题，培养他们的探究精神和批判性思维。",
    icon: "bx:bxs-bot",
  },
  {
    title: "个性化学习路径",
    description:
      "根据每个孩子的学习速度和理解能力，提供个性化的学习资源和练习，确保每个孩子都能在自己的节奏下取得进步。",
    icon: "bx:bxs-file-find",
  },
  {
    title: "日常生活联系",
    description:
      "将数学与孩子们的日常生活紧密联系起来，让他们看到数学在现实生活中的应用，从而认识到学习数学的实用价值。",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to study math well
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    通过互动学习、故事化教学、实践操作、探究式学习、个性化学习路径和日常生活联系，我们激发小学生对数学的兴趣，培养他们的批判性思维，并促进个性化和实践性学习，让数学知识生动有趣且易于理解。
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
